:root {
  --main-gray: rgb(15, 15, 15);
  --sec-gray: rgba(104, 104, 104, .7);

  --style-main: #39ace7;
  --style-sec: #0784b5;
  --style-tri: #414c50;
  --style-quad: #414c50;
  --style-quin: #192428;

  --title-font: "Work Sans", sans-serif;
  --body-font: "Oxygen", sans-serif;

  --radius: 20px;
}